[Unit]
Description=Stalwart Mail Server
After=network-online.target

[Service]
Type=simple
User=stalwart
ExecStart=/usr/local/bin/stalwart --config=/usr/local/etc/stalwart/config.json
Restart=on-failure
RestartSec=5
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
