#!/bin/sh
set -eu
id="${1:?worker id required}"
case "$id" in
  0) proc_type=primary ;;
  __SECONDARY_IDS__) proc_type=secondary ;;
  *) echo "invalid worker id: $id" >&2; exit 64 ;;
esac
exec /usr/local/libexec/sow-relay/sow-relay --conf /usr/local/etc/sow/echo-vf.ini --proc-type="$proc_type" --proc-id="$id"
